@fitmobile: 320px, 360px, 375px, 384px, 400px, 414px, 424px;
@fitipad: 450px, 480px, 540px, 640px, 720px, 750px, 1024px;
@fitpc: 1085px, 1280px, 1366px, 1440px, 1600px, 1680px, 1920px;
@mainColor: #32b588;
@yesColor: green;
@noColor: red;
@nobkColor: rgb(248, 232, 232);
@yesbkColor: rgb(235, 250, 235);

.yes {
  color: @yesColor;
}

.no {
  color: @noColor;
}

.yesbk,
.nobk {
  border-radius: 4px;
  margin: 0px 0.5rem;
}

.yesbk {
  color: @yesColor;
  background-color: @yesbkColor ;
}

.nobk {
  color: @noColor;
  background-color: @nobkColor ;
}


each(@fitmobile, {
    @media screen and (min-width: @value) {
      html {
        font-size:4vw;
      }

      body {
        font-size:4vw;
      }
    }
  }

) each(@fitipad, {
    @media screen and (min-width: @value) {
      html {
        font-size:12px;
      }

      body {
        font-size:12px;
      }
    }
  }

) each(@fitpc, {
    @media screen and (min-width: @value) {
      html {
        font-size:12px;
      }

      body {
        font-size:12px;
      }

      // 定义滚动条
      ::-webkit-scrollbar {
        appearance:none;
        width: 10px;
        height: 10px;
        z-index: 1000;
      }

      /*定义滚动条轨道 内阴影+圆角*/
      ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #efefef;
      }

      /*定义滑块 内阴影+圆角*/
      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: 0 0 6px 2px #efefef inset;
        background-color:#888888;
      }
    }
  }

) html,
body {
  width: 100%;
  height: 100%;
  color: #888888;
}

* {
  padding: 0;
  margin: 0;
  font-family: "楷体";
  box-sizing: border-box;
  // color: #888888;
}

h1,
h2,
h3,
h4 {
  font-family: "华文行楷";
  color: #555555;
  margin: 0.5rem;
}

input,
select,
button {
  min-height: 2rem;
  height: auto;
  outline: @mainColor;
  color: #888888;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  // 去掉移动端点击高亮
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  cursor: pointer;
}

input {
  appearance: none;
  border: none;
  width: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

select {
  border: none;
  font-size: 1.4rem;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  letter-spacing: 0.2rem;
}

img {
  width: 100%;
}

.charts {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

[v-cloak] {
  display: none;
}

each(@fitmobile, {
    @media screen and (min-width: @value) {}
  }

) each(@fitipad, {
    @media screen and (min-width: @value) {}
  }

) each(@fitpc, {
    @media screen and (min-width: @value) {}
  }

) // 

.icon {
  width: 2rem;
  height: 2rem;
  // vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}